[workspace]
channels = ["conda-forge", "https://heasarc.gsfc.nasa.gov/FTP/software/conda"]
name = "dispatcher-container-clean"
platforms = ["linux-64"]
version = "0.1.0"

[environments]
default = ["spi_acs", "integral", "nb2workflow", "polar", "ivoa"]
nbonly = ["nb2workflow"]

[tasks]

[dependencies]
python = "3.13.*"
xspec = ">=12.15.1,<13"
libpq = ">=18.1,<19"

[feature.nb2workflow.dependencies]
libmagic = ">=5.46,<6"

[pypi-dependencies]
cdci-data-analysis = { git = "https://github.com/oda-hub/dispatcher-app.git", branch = "master", extras = ["ontology"] }
oda-api = { git = "https://github.com/oda-hub/oda_api.git", branch = "master" }

[feature.ivoa.pypi-dependencies]
cdci-data-analysis = { git = "https://github.com/oda-hub/dispatcher-app.git", branch = "master", extras = ["ontology", "ivoa"] }

[feature.spi_acs.pypi-dependencies]
dispatcher-plugin-integral-all-sky = { git = "https://github.com/oda-hub/dispatcher-plugin-integral-all-sky", branch="master" }

[feature.integral.pypi-dependencies]
cdci-osa-plugin = { git = "https://github.com/oda-hub/dispatcher-plugin-integral", branch="master" }
ddaclient = { git = "https://github.com/oda-hub/ddaclient.git", branch="master" }

[feature.nb2workflow.pypi-dependencies]
dispatcher-plugin-nb2workflow = { git = "https://github.com/oda-hub/dispatcher-plugin-nb2workflow", branch="master"}

[feature.polar.pypi-dependencies]
cdci-polar-plugin = { git = "https://github.com/oda-hub/dispatcher-plugin-polar", branch="master" }
